link(herf="js/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
script(src='js/jquery/dist/jquery.min.js', type='text/html')
script(src='js/bootstrap/dist/js/bootstrap.min.js', type='text/html')